//@import "screen"
@import compass/css3

#wrapper
  max-width: 1024px
  margin: 0 auto

*, *:after, *:before
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

[class*='col-']
  float: left

.col-2-3
  width: 66.66%

.col-1-3
  width: 33.33%

.col-3-4
  width: 75%

.col-1-2
  width: 50%

.col-1-4
  width: 25%

.col-1-8
  width: 12.5%

.grid:after
  content: ""
  display: table
  clear: both

[class*='col-']
  padding-right: 20px

[class*='col-']:last-of-type
  padding-right: 0

.grid-pad
  padding: 20px 0 20px 20px

.grid-pad > [class*='col-']:last-of-type
  padding-right: 20px

// VARIABLES

$dark: #171C1C
$blue: #489494
$brown: #C98F3F
$beige: #EECB87
$red: #DD4127

$bigFont: 5em
$medFont: 2em
$normFont: 1.4em
$smallFont: 1em
$linkColor: $red
$textColor: $beige + 30

// DOCUMENT

body
  font-family: 'Source Sans Pro', sans-serif
  background-color: $dark
  background-image: url('../img/black_mamba.png')
  background-repeat: repeat
  background-attachment: fixed
  color: $textColor
  font-style: normal
  font-weight: normal

img
  +border-radius(10px)
  max-width: 100%
  margin-right: 20px

header
  margin-bottom: -50px
  h1
    display: inline
    color: $textColor
  h2
    display: inline
    color: $brown
    margin-left: 0.3em

span
  font-weight: normal
  color: $brown

hr
  border: 1px solid $dark+30

.affiche
  margin-top: 2em

h1
  font-size: $bigFont
  margin: 0 0 -20px
  font-family: 'Source Sans Pro', sans-serif

h2
  font-size: $medFont
  font-weight: normal

h4
  color: $blue
  font-size: 1.2em

h4:first-of-type
  font-style: italic
  font-size: $normFont

h5
  margin: 0 0 5px 0
  font-size: $smallFont

a
  text-decoration: none
  color: $linkColor

p
  font-size: $smallFont

strong
  color: $brown
  font-size: 1.2em

#n2 img
  width: 84%
  margin-top: 25px

.centered
  text-align: center

.sound
  border: 1px solid $dark+50
  background-color: transparentize(($dark+30), 0.5)
  margin-bottom: 1em
  padding: 1em 0 0 25%
  height: 6.5em
  h5
    padding: 0 0 0 18%
    color: $blue

.grid.footer a
  color: $dark+30



@media screen and (max-width: 768px)
  [class*='col-']
    float: none
  .col-1-2, .col-2-3, .col-3-4
    width: 100%
    padding-right: 20px
  #n2
    display: none
  .grid-pad
    padding: 1em 0
  .sound
    padding: 1em 5%
    height: 8em
  img
    width: 100%
  .affiche
    margin-top: 0
  .acorn-player.audio-player
    width: 100%